body {font-family: 'Poppins', sans-serif;}
.container {margin-bottom: 100px; 
}
.container h1 {margin-bottom: 30px;}
h6 {color: red;}
.bold {color: #21B573;
}
h1 {font-weight: bold;}
.button {background-color: #21B573;
    color: white;
border: none;
padding: 10px 20px;
border-radius: 30px;

}
.front{background-color:rgb(217, 247, 233);}
.icon {width: 50%;}
.card { padding: 10px 15px;
    height: 100%;
    border: none;
box-shadow: 10px 10px 20px lightgray;
border-radius: 5px;
margin-left: 30px;}
.align {text-align: center;}
.img {position: relative;
left: 230px;
bottom: 30px;}
footer {text-align: center;}
.bg {background-color: black;
color: white;
}
.grid {
padding :40px
}
#signin {padding:40px 50px ;
    cursor: pointer;
    height: 30%;
    width: 50%;
}
